[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
pyarrow = "*"
s3fs = "==2023.6.0"
fsspec = "==2023.6.0"
aiobotocore = "==2.5.4"
pandas = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
